<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <h2 class="text-danger">{{ responseMessage }}</h2>
      <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
          <form [formGroup]="Login" (ngSubmit)="LoginType()">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  (Login.controls['username'].touched || submitted) &&
                  Login.controls['username'].errors?.['required']
                "
              >
                User is required
              </span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
              />
              <span
                class="text-danger"
                *ngIf="
                  (Login.controls['password'].touched || submitted) &&
                  Login.controls['password'].errors?.['required']
                "
              >
                Password is required
              </span>
            </div>
            <!-- <div class="form-group">
              <label for="userType">Type</label>
              <select
                class="form-select"
                id="userType"
                formControlName="userType"
              >
                <option>Select Type</option>
                <option *ngFor="let item of userType" [value]="item.value">
                  {{ item.value }}
                </option>
              </select>
            </div> -->
            <div class="form-group">
              <button class="btn btn-primary mt-2">
                <span></span>
                Login
              </button>
              <a routerLink="/register" class="btn btn-link mt-2"
                >Click here to Register</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
